<div class="content container-fluid">
    <div class="page-header d-flex justify-content-between">
        <div class="page-title">
            <h3>Departments</h3>
        </div>
        <div class="add-employee">
            <button (click)="onAdd()" class="btn addbtn" data-bs-toggle="modal" data-bs-target="#departmentModal"><i
                    class="fa fa-plus"></i>
                Add Department</button>
        </div>
    </div>
</div>

<!-- Department Table List Starts -->

<div class="container">
    <div class="card">
        <div class="card-body">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Department ID</th>
                        <th scope="col">Department Name</th>
                        <th scope="col">Created By</th>
                        <th scope="col">Create Date</th>
                        <th scope="col">Updated By</th>
                        <th scope="col">Update Date</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of departmentList">
                        <th scope="row">{{row.DeptId}}</th>
                        <td>{{row.DeptName}}</td>
                        <td>{{ row.CreatedBy }}</td>
                        <td>{{ row.CreateDate | date: 'dd/MM/yyyy h:mm a' }}</td>
                        <td>{{ row.UpdatedBy }}</td>
                        <td>{{ row.UpdateDate | date: 'dd/MM/yyyy h:mm a' }}</td>
                        <td><button (click)="onEditDepartment(row)" data-bs-toggle="modal"
                                data-bs-target="#departmentModal" class="btn"><i class="fa fa-pencil"
                                    aria-hidden="true"></i>
                                <span class="caret"></span></button>
                            <button (click)="removeDepartment(row.DeptId)" class="btn"><i class="fa fa-trash-o"
                                    aria-hidden="true"></i>
                                <span class="caret"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Department Table List Ends -->

<!-- Department Modal Starts -->

<div class="modal fade" id="departmentModal" tabindex="-1" aria-labelledby="departmentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="departmentModalLabel">Add Department</h5>
                <button type="button" id="close-emp" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="deptForm">
                    <div class="row">
                        <input style="display: none;" id="file-input" type="file" accept="image/*" />
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">Department Name <span class="text-danger">*</span></label>
                                <input formControlName="DeptName" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="close-dept" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button *ngIf="!isEdit" (click)="addDepartment()" type="button" class="btn btn-primary">Save
                    changes</button>
                <button *ngIf="isEdit" (click)="updateDepartment()" type="button" class="btn btn-primary">Update
                    changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Department Modal Ends -->